<footer class="container-fluid border bg-white mt-4">
    <div class="container border-bottom" style="max-width: 1140px; height: 1.5rem;"></div>

    <!-- footer content -->
    <div class="container pb-4 pt-3 pt-md-1" style="max-width: 1140px;">
        <div class="row g-0">
            <!-- Footer Links Section -->
            <div class="d-flex align-items-center justify-content-center col-md order-0 order-md-1">
                <ul class="d-flex mb-sm-0">
                    <li class="ms-2"><a class="footer-link" href="#">Terms</a></li>
                    <li><a class="footer-link" href="#">Privacy</a></li>
                    <li><a class="footer-link" href="{% url 'about_us' %}">About Us</a></li>
                </ul>
            </div>

            <!-- Footer Logo Section -->
            <div class="col-sm d-flex justify-content-center justify-content-sm-end justify-content-md-start order-sm-1 order-md-0">
                <a class="d-flex align-items-center footer-logo-link me-2 me-md-0" href="#start">
                    <i class="icon-book mt-2 me-1" style="font-size: 1.875rem;"></i>
                    <span>KidsBooks  <i class="far fa-copyright ms-1 me-1"></i>2024</span>
                </a>
            </div>
        </div>
    </div>
</footer>
