{% extends 'base.html' %}

{% block title %}
    Kids Books
{% endblock %}

{% block content %} 

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto"></h1>

        <p class="pt-4">
            List of kidbooks
        </p>

        <div class="row">
            <!-- Book Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <!-- Display the list of books -->
                    {% for kidsbook in kidsbooks %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <a href="{% url 'kidsbook_detail' kidsbook.id %}" class="book-link">
                                    <h2 class="card-title">{{ kidsbook.title }}</h2>
                                </a>
                                <div class="image-container">
                                    <div class="">
                                        <p class="author">Author: {{ kidsbook.author }}</p>
                                    </div>
                                </div>
                                
                                <!-- Display Average Rating -->
                                <div class="rating">
                                    {% if kidsbook.average_rating %}
                                        <p>Average Rating: {{ kidsbook.average_rating|floatformat:1 }} Stars</p>
                                        <div class="stars">
                                            {% for i in "12345" %}
                                                <span class="star {% if i <= kidsbook.average_rating|floatformat:0 %}filled{% endif %}">&#9733;</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>No ratings yet.</p>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
    
</div>

{% endblock %}
