{% extends 'base.html' %}
{% load static %}
{% load book_extras %}

{% block title %}
Kids Books
{% endblock %}

{% block content %}

<!-- View book detail with reviews -->
<h2>{{ kidsbook.title }}</h2>

<p>{{ kidsbook.author }}</p>
<p>{{ kidsbook.description }}</p>

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <!-- Book Reviews -->
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Reviews:</h3>
            <i class="far fa-comments"></i> {{ reviews|length }} Reviews
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
          to iterate through each review in reviews -->
            {% if user.is_authenticated %}
                {% for review in reviews %}
                <div class="p-2 reviews
                    <p class="font-weight-bold">
                        {{ review.user }} <span>{{ review.created_on }}</span> wrote:
                    </p>
                    <div id="review{{ review.id }}">
                        {{ review.content | linebreaks }}
                    </div>
                    {% if review.user == user %}
                    <a class="btn btn-dark" href="{% url 'edit_review' review.id %}">Edit</a>
                    <form action="{% url 'delete_review' review.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Creating or Editing a Review -->
        <div class="col-md-4 card mb-4 mt-3">
            <h3>{% if existing_review %}Edit your review:{% else %}Leave a review:{% endif %}</h3>
            <p>Reviewing as: {{ user.username }}</p>
            <form id="reviewForm" method="post">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button id="submitButton" type="submit" class="btn btn-signup btn-m">
                    {% if existing_review %}Update Review{% else %}Submit Review{% endif %}
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
